\" SPDX-FileCopyrightText: 2025 The SonicWeb contributors.
\" SPDX-License-Identifier: MPL-2.0
.\" -*- mode: troff; coding: UTF-8 -*-
.\"TOPICS "Temas:"
.TH SONICWEB 1 "${GIT_REF_DATE}" "Versión de SonicWeb ${GIT_TAG}" "SonicWeb"
.\"SKIP_SECTION"
.SH "NOMBRE"
sonicweb \- Pequeño servidor seguro de archivos estáticos.
.\"SKIP_SECTION"
.SH "SINOPSIS"
.B sonicweb
[\-root ruta]
[\-base ruta]
[\-port número]
[\-address dirección]
[\-tlscert archivo]
[\-tlskey archivo]
[\-clientca archivo]
[\-acmedomain dominio]
[\-certcache ruta]
[\-acmeendpoint lru]
[\-header encabezado]
[\-headerfile archivo]
[\-tryfile archivoexpr]
[\-wafcfg archivoglob]
[\-iport número]
[\-iaddress dirección]
[\-telemetry {true,false}]
[\-trace-endpoint dirección]
[\-pprof {true,false}]
[\-log level {debug,info,warn,error}]
[\-logstyle {auto,text,json}]
.\"NODE "DESCRIPCIÓN"
.SH "DESCRIPCIÓN"
SonicWeb es un pequeño servidor de archivos estáticos que integra el firewall de aplicaciones web de Coraza.
.\"NODE "OPCIONES"
.\"DONT_SPLIT"
.SH "OPCIONES"
.TP
.I \-root ruta
Establece la ruta raíz para los archivos servidos en el sistema de archivos. Por defecto en
.BR /www
.TP
.I \-base ruta
Establece la ruta base en las URLs. Por defecto en
.BR /
.TP
.I \-port número
Establece el puerto de escucha al número indicado. Por defecto en
.BR 8080
.TP
.I \-address dirección
Establece la dirección de escucha. Por defecto en
.BR "todas\ las\ direcciones".
.TP
.I \-tlscert archivo
Establece el certificado TLS
.TP
.I \-tlskey archivo
Establece la clave TLS
.TP
.I \-clientca archivo
Establece un certificado de autoridad de certificación para la validación de certificados de clientes;\
 se puede indicar varias veces.
.TP
.I \-acmedomain dominio
Establece el dominio permitido para la obtención automática de certificados; se puede indicar varias veces.
.TP
.I \-certcache ruta
Establece el directorio para la caché de certificados. Por defecto se configura en el
.BR directorio\ predeterminado\ para\ archivos\ temporales\ del\ sistema\ operativo.
.TP
.I \-acmeendpoint lru
Establece otro punto final para la obtención automática de certificados.
.TP
.I \-header <encabezado>
Añade el encabezado HTTP especificado a las respuestas; se puede indicar varias veces.
.TP
.I \-headerfile archivo
Añade los encabezados HTTP de un archivo especificado a las respuestas; se puede indicar varias veces.
.TP
.I \-tryfile archivoexpr
Siempre intenta cargar primero la expresión de archivo dada; se puede indicar varias veces.
.TP
.I \-wafcfg archivoglob
Añade el archivo de configuración del Firewall de Aplicaciones Web; se puede indicar varias veces.
.TP
.I \-iport número
Establece el puerto de escucha para las solicitudes de telemetría. Por defecto en
.BR 8081
.TP
.I \-iaddress dirección
Establece la dirección de escucha para las solicitudes de telemetría. Por defecto en
.BR "todas\ las\ direcciones".
.TP
.I \-telemetry {true,false}
Habilita o deshabilita el soporte de telemetría. Por defecto en
.BR true
.TP
.I \-trace-endpoint dirección
Establece el punto de conexión para la funcionalidad de trazado. Por defecto en
.BR <vacío>
.TP
.I \-pprof {true,false}
Habilita o deshabilita el soporte de pprof para la depuración remota. Por defecto en
.BR false
.TP
.I \-log level {debug,info,warn,error}
Establece el nivel de registro. Por defecto en
.BR info
.TP
.I \-logstyle {auto,text,json}
Establece el estilo de registro. Por defecto en
.BR auto
.TP
.I \-help
Imprime ayuda sobre los posibles argumentos y sale.
.TP
.I \-version
Imprime la información de versión y sale.
.SH "LICENCIA"
Este programa se distribuye bajo los términos de la Licencia Pública de Mozilla
Versión 2.0 según lo publicado por la Fundación Mozilla.
.\"NODE "DISPONIBILIDAD"
.SH "DISPONIBILIDAD"
La última versión de este programa se puede encontrar en
https://github.com/AlphaOne1/sonicweb.git.
.\"NODE "AUTORES"
.SH "AUTORES"
Los autores y colaboradores están listados en el archivo AUTHORS en la distribución
de código fuente.
.\"NODE "PROBLEMAS"
.SH "PROBLEMAS"
Si deseas reportar un problema con el programa, por favor crea un informe de errores
en https://github.com/AlphaOne1/sonicweb/issues.
.PP
Proporciona una descripción detallada del error, la versión del programa
que estás utilizando
.RI ( "sonicweb \-version"
muestra esta información) y el sistema operativo en el que estás ejecutando el
programa. Si el programa falla, se agradecerá un volcado de pila.