{{- /*
SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

{{- $lang             := "en"                         -}}
{{- $headName         := "Name"                       -}}
{{- $headSize         := "Size"                       -}}
{{- $headLastModified := "Last Modified"              -}}

{{- range .Languages                                  -}}
{{-     if eq .Lang "de"                              -}}
{{-         $lang             = "de"                  -}}
{{-         $headName         = "Name"                -}}
{{-         $headSize         = "Größe"               -}}
{{-         $headLastModified = "Letzte Änderung"     -}}
{{-         break                                     -}}
{{-     else if eq .Lang "es"                         -}}
{{-         $lang             = "es"                  -}}
{{-         $headName         = "Nombre"              -}}
{{-         $headSize         = "Tamaño"              -}}
{{-         $headLastModified = "Última modificación" -}}
{{-         break                                     -}}
{{-     end                                           -}}
{{- end                                               -}}

<!DOCTYPE html>
<html lang="{{ $lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="robots" content="noindex">

	<style>
		{{/* align second column (size) to the right, let heading untouched */ -}}
		table.directoryListing td:nth-child(2) {
			text-align: right;
			padding-right: 1em;
		}
	</style>

	<title> {{.DirectoryName}} </title>
</head>
<body>
	<h1> {{.DirectoryName}} </h1>
	<table class="directoryListing" style="font-family: monospace;">
		<thead>
			<tr><th> {{ $headName }} </th><th> {{ $headSize }} </th><th> {{ $headLastModified }} </th></tr>
		</thead>
		<tbody>
			{{- if .ParentDirectory }}
			<tr><td><a href="{{ .ParentDirectory }}"> .. </a></td><td></td><td></td></tr>
			{{- end -}}
			{{- $dirPrefix := .DirectoryPrefix -}}
			{{- range .Entries -}}
			{{- $fi := .Info }}
			<tr>{{ if $fi.IsDir -}}	<td><em><a href="{{ $dirPrefix }}/{{ .Name }}"> {{ .Name }}/ </a></em></td>
				{{- else if gt (len .LinkTarget) 0 -}}
									<td><a href="{{ $dirPrefix }}/{{ .Name }}"> {{ .Name }} &rarr; {{ .LinkTarget }} </a></td>
				{{- else -}}		<td><a href="{{ $dirPrefix }}/{{ .Name }}"> {{ .Name }} </a></td>
				{{- end }}
				<td> {{ $fi.Size    }} </td>
				<td> {{ $fi.ModTime.Format "2006-01-02 15:04:05 -07" }} </td>
			</tr>
			{{- end }}
		</tbody>
	</table>
</body>
</html>