{{- /*
SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

{{- $lang             := "en"            -}}
{{- $headName         := "Name"          -}}
{{- $headSize         := "Size"          -}}
{{- $headLastModified := "Last Modified" -}}

{{- $dict := dict
    "af"  (dict "n" "Naam"        "s" "Grootte"    "m" "Laas gewysig")
    "akk" (dict "n" "𒈬"           "s" "𒈠𒁕𒁺"        "m" "𒌓")
    "am"  (dict "n" "ስም"          "s" "መጠን"        "m" "መጨረሻ የተሻሻለው")
    "ar"  (dict "n" "الاسم"        "s" "الحجم"      "m" "آخر تعديل")
    "arc" (dict "n" "ܫܡܐ"         "s" "ܡܫܘܚܬܐ"     "m" "ܫܘܚܠܦܐ ܐܚܪܝܐ")
    "az"  (dict "n" "Ad"          "s" "Ölçü"       "m" "Son dəyişiklik")
    "ber" (dict "n" "ⵉⵙⵎ"         "s" "ⵜⴰⴽⵯⵜⴰ"     "m" "ⴰⵙⵏⴼⵍ ⴰⵏⴳⴳⴰⵔⵓ")
    "bg"  (dict "n" "Име"         "s" "Размер"     "m" "Последна промяна")
    "bn"  (dict "n" "নাম"         "s" "আকার"       "m" "শেষ পরিবর্তন")
    "bs"  (dict "n" "Naziv"       "s" "Veličina"   "m" "Posljednja izmjena")
    "ca"  (dict "n" "Nom"         "s" "Mida"       "m" "Última modificació")
    "cop" (dict "n" "ⲓⲛⲟⲩⲙ"       "s" "ⲙⲉϣⲓ"       "m" "ϣⲓⲃⲉ ⲙⲁⲉ")
    "cs"  (dict "n" "Název"       "s" "Velikost"   "m" "Poslední změna")
    "cy"  (dict "n" "Enw"         "s" "Maint"      "m" "Wedi'i addasu ddiwethaf")
    "da"  (dict "n" "Navn"        "s" "Størrelse"  "m" "Sidst ændret")
    "de"  (dict "n" "Name"        "s" "Größe"      "m" "Letzte Änderung")
    "dsb" (dict "n" "Mě"          "s" "Wjelikosć"  "m" "Slědna změna")
    "egy" (dict "n" "𓂋𓈖"          "s" "𓉻𓂠"         "m" "𓆎𓈖𓏏𓇳")
    "el"  (dict "n" "Όνομα"       "s" "Μέγεθος"    "m" "Τελευταία τροποποίηση")
    "eo"  (dict "n" "Nomo"        "s" "Grandeco"   "m" "Lasta modifo")
    "es"  (dict "n" "Nombre"      "s" "Tamaño"     "m" "Última modificación")
    "et"  (dict "n" "Nimi"        "s" "Suurus"     "m" "Viimati muudetud") 
    "eu"  (dict "n" "Izena"       "s" "Tamaina"    "m" "Azken aldaketa")
    "fa"  (dict "n" "نام"         "s" "اندازه"     "m" "آخرین تغییرات")
    "fi"  (dict "n" "Nimi"        "s" "Koko"       "m" "Muokattu viimeksi")
    "fr"  (dict "n" "Nom"         "s" "Taille"     "m" "Dernière modification")
    "ga"  (dict "n" "Ainm"        "s" "Méid"       "m" "Modhnaithe go deireanach")
    "gd"  (dict "n" "Ainm"        "s" "Meud"       "m" "Atharrachadh mu dheireadh")
    "gl"  (dict "n" "Nome"        "s" "Tamaño"     "m" "Última modificación")
    "ha"  (dict "n" "Suna"        "s" "Girma"      "m" "Gyaran ƙarshe")
    "he"  (dict "n" "שם"          "s" "גודל"       "m" "שינוי אחרון")
    "hi"  (dict "n" "नाम"         "s" "आकार"       "m" "अंतिम परिवर्तन")
    "hr"  (dict "n" "Naziv"       "s" "Veličina"   "m" "Zadnja izmjena")
    "hsb" (dict "n" "Mjeno"       "s" "Wulkosć"    "m" "Poslednja změna")
    "hu"  (dict "n" "Név"         "s" "Méret"      "m" "Utolsó módosítás")
    "hy"  (dict "n" "Անուն"       "s" "Չափ"        "m" "Վերջին փոփոխություն")
    "id"  (dict "n" "Nama"        "s" "Ukuran"     "m" "Terakhir diubah")
    "ig"  (dict "n" "Aha"         "s" "Nha"        "m" "Mgbanwe ikpeazụ")
    "is"  (dict "n" "Nafn"        "s" "Stærð"      "m" "Síðast breytt")
    "it"  (dict "n" "Nome"        "s" "Dimensione" "m" "Ultima modifica")
    "ja"  (dict "n" "名前"        "s" "サイズ"     "m" "最終更新日時")
    "jv"  (dict "n" "Jeneng"      "s" "Ukuran"     "m" "Pungkasan diowahi")
    "ka"  (dict "n" "სახელი"      "s" "ზომა"       "m" "ბოლო ცვლილება")
    "kk"  (dict "n" "Атауы"       "s" "Өлшемі"     "m" "Соңғы өзгертілген")
    "kl"  (dict "n" "Ateq"        "s" "Angissusia" "m" "Kingullermik allanngortippoq")
    "km"  (dict "n" "ឈ្មោះ"         "s" "ទំហំ"         "m" "ការកែប្រែចុងក្រោយ")
    "ko"  (dict "n" "이름"        "s" "크기"       "m" "최종 수정")
    "ku"  (dict "n" "ناو"         "s" "قەبارە"     "m" "دوا دەستکاری")
    "ky"  (dict "n" "Аты"         "s" "Өлчөмү"     "m" "Акыркы өзгөртүү")
    "la"  (dict "n" "Nomen"       "s" "Magnitudo"  "m" "Ultima mutatio")
    "lo"  (dict "n" "ຊື່"           "s" "ຂະໜາດ"      "m" "ດັດແກ້ຫຼ້າສຸດ")
    "lt"  (dict "n" "Pavadinimas" "s" "Dydis"      "m" "Paskutinis pakeitimas")
    "lv"  (dict "n" "Nosaukums"   "s" "Izmērs"     "m" "Pēdējās izmaiņas")
    "mi"  (dict "n" "Ingoa"       "s" "Rahi"       "m" "Whakarerekē whakamutunga")
    "mn"  (dict "n" "Нэр"         "s" "Хэмжээ"     "m" "Сүүлд өөрчлөгдсөн")
    "mr"  (dict "n" "नाव"         "s" "आकार"       "m" "शेवटचे बदल")
    "ms"  (dict "n" "Nama"        "s" "Saiz"       "m" "Terakhir diubah")
    "mt"  (dict "n" "Isem"        "s" "Daqs"       "m" "L-aħħar modifikat")
    "my"  (dict "n" "အမည်"         "s" "အရွယ်အစား"    "m" "နောက်ဆုံးပြင်ဆင်မှု")
    "nl"  (dict "n" "Naam"        "s" "Grootte"    "m" "Laatst gewijzigd")
    "no"  (dict "n" "Navn"        "s" "Størrelse"  "m" "Sist endret")
    "pa"  (dict "n" "ਨਾਮ"         "s" "ਆਕਾਰ"       "m" "ਆਖਰੀ ਬਦਲਾਅ")
    "pl"  (dict "n" "Nazwa"       "s" "Rozmiar"    "m" "Ostatnia modyfikacja")
    "pt"  (dict "n" "Nome"        "s" "Tamanho"    "m" "Última modificação")
    "ro"  (dict "n" "Nume"        "s" "Mărime"     "m" "Ultima modificare")
    "ru"  (dict "n" "Имя"         "s" "Размер"     "m" "Дата изменения")
    "sa"  (dict "n" "नाम"         "s" "परिमाणम्"    "m" "अन्तिमं परिवर्तनम्")
    "sk"  (dict "n" "Názov"       "s" "Veľkosť"    "m" "Posledná zmena")
    "sl"  (dict "n" "Ime"         "s" "Velikost"   "m" "Zadnja sprememba")
    "sm"  (dict "n" "Igoa"        "s" "Tele"       "m" "Suiga mulimuli")
    "sq"  (dict "n" "Emri"        "s" "Madhësia"   "m" "Modifikimi i fundit")
    "sr"  (dict "n" "Назив"       "s" "Величинa"   "m" "Последња измена")
    "sux" (dict "n" "𒈬"           "s" "ܐܓ"         "m" "𒌓")
    "sv"  (dict "n" "Namn"        "s" "Storlek"    "m" "Senast ändrad")
    "ta"  (dict "n" "பெயர்"        "s" "அளவு"        "m" "கடைசியாக மாற்றப்பட்டது")
    "te"  (dict "n" "పేరు"          "s" "పరిమాణం"      "m" "చివరిగా మార్చబడింది")
    "th"  (dict "n" "ชื่อ"          "s" "ขนาด"       "m" "แก้ไขล่าสุด")
    "tl"  (dict "n" "Pangalan"    "s" "Laki"       "m" "Huling binago")
    "tk"  (dict "n" "Ady"         "s" "Ölçegi"     "m" "Soňky üýtgeşme")
    "tr"  (dict "n" "Ad"          "s" "Boyut"      "m" "Son değişiklik")
    "uk"  (dict "n" "Ім'я"        "s" "Розмір"     "m" "Остання зміна")
    "ur"  (dict "n" "نام"         "s" "سائز"       "m" "آخری تبدیلی")
    "vi"  (dict "n" "Tên"         "s" "Kích thước" "m" "Sửa đổi lần cuối")
    "yo"  (dict "n" "Oruko"       "s" "Iwon"       "m" "Atunse to kẹhin")
    "zh"  (dict "n" "名称"        "s" "大小"       "m" "最后修改")
-}}

{{- range .Languages                              -}}
{{-     if index $dict .Lang                      -}}
{{-         $data            := index $dict .Lang -}}

{{-         $lang             = .Lang             -}}
{{-         $headName         = $data.n           -}}
{{-         $headSize         = $data.s           -}}
{{-         $headLastModified = $data.m           -}}

{{-         break                                 -}}
{{-     end                                       -}}
{{- end                                           -}}

<!DOCTYPE html>
<html lang="{{ $lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="robots" content="noindex">

	<style>
		{{/* align second column (size) to the right, let heading untouched */ -}}
		table.directoryListing td:nth-child(2) {
			text-align: right;
			padding-right: 1em;
		}
	</style>

	<title> {{.DirectoryName}} </title>
</head>
<body>
	<h1> 📂 {{.DirectoryName}} </h1>
	<table class="directoryListing" style="font-family: monospace;">
		<thead>
			<tr><th> {{ $headName }} </th><th> {{ $headSize }} </th><th> {{ $headLastModified }} </th></tr>
		</thead>
		<tbody>
			{{- if .ParentDirectory }}
			<tr><td><a href="{{ .ParentDirectory }}"> .. </a></td><td></td><td></td></tr>
			{{- end -}}
			{{- $dirPrefix := .DirectoryPrefix -}}
			{{- range .Entries -}}
			{{- $fi := .Info }}
			<tr>{{ if $fi.IsDir -}}	<td><em><a href="{{ $dirPrefix }}/{{ .Name }}"> 📁 {{ .Name }}/ </a></em></td>
				{{- else if gt (len .LinkTarget) 0 -}}
				    {{- if eq (slice .LinkTarget 0 1) "/" -}}
									<td><a href="{{ .LinkTarget }}"> 🔗 {{ .Name }} &rarr; {{ .LinkTarget }} </a></td>
					{{- else -}}
									<td><a href="{{ $dirPrefix }}/{{ .Name }}"> 🔗 {{ .Name }} &rarr; {{ .LinkTarget }} </a></td>
					{{- end -}}
				{{- else -}}		<td><a href="{{ $dirPrefix }}/{{ .Name }}"> 📄 {{ .Name }} </a></td>
				{{- end }}
				<td> {{ $fi.Size    }} </td>
				<td> {{ $fi.ModTime.Format "2006-01-02 15:04:05 -07" }} </td>
			</tr>
			{{- end }}
		</tbody>
	</table>
</body>
</html>
