           |\
           ||\
  _________||\\
  \            \   /|
   \     ___    \ / |
  /     /.-.\   _V__|             _     _       __     __
 /     //   \  / ___/____  ____  (_)___| |     / /__  / /_
/___  // _  |  \__ \/ __ \/ __ \/ / ___/ | /| / / _ \/ __ \
   |   \(_)/  ___/ / /_/ / / / / / /__ | |/ |/ /  __/ /_/ /
   |  , \_/  /____/\____/_/ /_/_/\___/ |__/|__/\___/_.___/
   | / \           \
   |/   \    _______\ Version: {{ if .Values.Tag }} {{- .Values.Tag }}{{ .Geany.VcsModified -}} {{ else }} {{- .Geany.VcsRevision }}{{ .Geany.VcsModified -}} {{ end }}
         \  |              of: {{ .Geany.VcsTime }}
          \ |           using: {{ .Geany.GoVersion }}
           \|