# SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
# SPDX-License-Identifier: MPL-2.0

# yaml-language-server: $schema=https://nfpm.goreleaser.com/static/schema.json

name:       "${PACKAGE_NAME}"
arch:       "${TARGET_ARCH}"
platform:   "${TARGET_OS}"
version:    "${TARGET_VERSION}"
section:    "default"
priority:   "extra"
replaces:   []
provides:
  - ${EXEC_PREFIX}
depends:    []
recommends: []
suggests:   []
conflicts:  []
maintainer: "AlphaOne1 <alphaone23@gmail.com>"
description: |
    ${PROJECT_NAME} is a no-configuration webserver. It is meant to serve
    static content fast without fuzz.
vendor:     "AlphaOne1 <alphaone23@gmail.com>"
homepage:   "https://github.com/AlphaOne1/sonicweb"
license:    "MPL-2.0"
contents:
  - src: ./${EXEC_PREFIX}-${TARGET_OS}-${TARGET_ARCH}
    dst: /usr/bin/${EXEC_PREFIX}
  - src: ./man/${EXEC_PREFIX}.1.gz
    dst: /usr/share/man/man1/${EXEC_PREFIX}.1.gz
  - src: ./man/${EXEC_PREFIX}_de.1.gz
    dst: /usr/share/man/de/man1/${EXEC_PREFIX}.1.gz
  - src: ./man/${EXEC_PREFIX}_es.1.gz
    dst: /usr/share/man/es/man1/${EXEC_PREFIX}.1.gz
  - src: ./README.md
    dst: /usr/share/doc/${PACKAGE_NAME}/README.md
  - src: ./LICENSE
    dst: /usr/share/doc/${PACKAGE_NAME}/LICENSE
  - src: ./third_party_licenses-${TARGET_OS}-${TARGET_ARCH}-dir
    dst: /usr/share/doc/${PACKAGE_NAME}/third_party_licenses
overrides:  {}
deb:
    compression: xz
rpm:
    compression: xz
