{{- /*
SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ include "SonicWeb.fullname" . }}
    labels:
        {{- include "SonicWeb.labels" . | nindent 8 }}
spec:
    {{- if not .Values.autoscaling.enabled }}
    replicas: {{ .Values.replicaCount }}
    {{- end }}
    selector:
        matchLabels:
            {{- include "SonicWeb.selectorLabels" . | nindent 12 }}
    template:
        metadata:
            {{- with .Values.podAnnotations }}
            annotations:
                {{- toYaml . | nindent 16 }}
            {{- end }}
            labels:
                {{- include "SonicWeb.labels" . | nindent 16 }}
                {{- with .Values.podLabels }}
                {{- toYaml . | nindent 16 }}
                {{- end }}
        spec:
            {{- with .Values.imagePullSecrets }}
            imagePullSecrets:
                {{- toYaml . | nindent 16 }}
            {{- end }}
            serviceAccountName: {{ include "SonicWeb.serviceAccountName" . }}
            securityContext:
                {{- toYaml .Values.podSecurityContext | nindent 16 }}
            containers:
                -   name: {{ .Chart.Name }}
                    securityContext:
                        {{- toYaml .Values.securityContext | nindent 24 }}
                    image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
                    imagePullPolicy: {{ .Values.image.pullPolicy }}
                    ports:
                        -   name: http
                            containerPort: {{ .Values.service.port }}
                            protocol: TCP
                        -   name: metrics
                            containerPort: {{ .Values.service.metricsPort }}
                            protocol: TCP
                {{- if .Values.monitoring.enabled }}
                    {{- $alloyHost := default (printf "%s-alloy" .Release.Name)
                                              (dig "monitoring" "alloy" "fullnameOverride" ""
                                                   ( .Values | toYaml | fromYaml )) }}
                    env:
                        -   name: OTEL_LOGS_EXPORTER
                            value: otlp
                        -   name: OTEL_METRICS_EXPORTER
                            value: otlp
                        -   name: OTEL_TRACES_EXPORTER
                            value: otlp
                        -   name: OTEL_EXPORTER_OTLP_PROTOCOL
                            value: grpc
                        -   name: OTEL_EXPORTER_OTLP_ENDPOINT
                            value: http://{{ $alloyHost }}:4317
                {{- end }}
                    livenessProbe:
                        {{- toYaml .Values.livenessProbe | nindent 24 }}
                    readinessProbe:
                        {{- toYaml .Values.readinessProbe | nindent 24 }}
                    resources:
                        {{- toYaml .Values.resources | nindent 24 }}
                {{- with .Values.volumeMounts }}
                    volumeMounts:
                        {{- toYaml . | nindent 24 }}
                {{- end }}
            {{- with .Values.volumes }}
            volumes:
                {{- toYaml . | nindent 16 }}
            {{- end }}
            {{- with .Values.nodeSelector }}
            nodeSelector:
                {{- toYaml . | nindent 16 }}
            {{- end }}
            {{- with .Values.affinity }}
            affinity:
                {{- toYaml . | nindent 16 }}
            {{- end }}
            {{- with .Values.tolerations }}
            tolerations:
                {{- toYaml . | nindent 16 }}
            {{- end }}
