{{- /*
SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

{{ if .Values.monitoring.enabled}}
apiVersion: v1
kind: Service
metadata:
    name: {{ include "SonicWeb.fullname" . }}-prometheus
    labels:
        app: {{ include "SonicWeb.fullname" . }}-prometheus
spec:
    type: ClusterIP
    selector:
        app: {{ include "SonicWeb.fullname" . }}-prometheus
    ports:
        -   name: web
            port: 9090
            targetPort: 9090
            protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ include "SonicWeb.fullname" . }}-prometheus
    labels:
        app: {{ include "SonicWeb.fullname" . }}-prometheus
spec:
    replicas: 1
    selector:
        matchLabels:
            app: {{ include "SonicWeb.fullname" . }}-prometheus
    template:
        metadata:
            labels:
                app: {{ include "SonicWeb.fullname" . }}-prometheus
        spec:
            containers:
                -   name: prometheus
                    image: prom/prometheus:v3.8.0
                    args:
                        - --config.file=/etc/prometheus/prometheus.yml
                        - --storage.tsdb.path=/prometheus
                        - --storage.tsdb.retention.time=7d
                    ports:
                        -   containerPort: 9090
                            name: web
                    volumeMounts:
                        -   name: prometheus-config
                            mountPath: /etc/prometheus
                        -   name: prometheus-storage
                            mountPath: /prometheus
            volumes:
                -   name: prometheus-config
                    configMap:
                        name: {{ include "SonicWeb.fullname" . }}-prometheus-config
                -   name: prometheus-storage
                    emptyDir: { }
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: {{ include "SonicWeb.fullname" . }}-prometheus-config
data:
    prometheus.yml: |
        global:
            scrape_interval: 15s
        scrape_configs:
            -   job_name: 'sonicweb'
                metrics_path: /metrics
                static_configs:
                    -   targets: [ '{{ include "SonicWeb.fullname" . }}:{{ .Values.service.metricsPort }}' ]
---
apiVersion: v1
kind: Service
metadata:
    name: {{ include "SonicWeb.fullname" . }}-grafana
    labels:
        app: {{ include "SonicWeb.fullname" . }}-grafana
spec:
    type: ClusterIP
    selector:
        app: {{ include "SonicWeb.fullname" . }}-grafana
    ports:
        -   name: web
            port: 3000
            targetPort: 3000
            protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ include "SonicWeb.fullname" . }}-grafana
    labels:
        app: {{ include "SonicWeb.fullname" . }}-grafana
spec:
    replicas: 1
    selector:
        matchLabels:
            app: {{ include "SonicWeb.fullname" . }}-grafana
    template:
        metadata:
            labels:
                app: {{ include "SonicWeb.fullname" . }}-grafana
        spec:
            initContainers:
                -   name: wait-for-prometheus
                    image: busybox:stable
                    command:
                        - sh
                        - -c
                        - |
                            echo "Waiting for Prometheus at http://{{ include "SonicWeb.fullname" . }}-prometheus:9090/-/ready";
                            until wget -qO- http://{{ include "SonicWeb.fullname" . }}-prometheus:9090/-/ready >/dev/null 2>&1; do
                              sleep 2;
                            done
                            echo "Prometheus is ready"
                -   name: fetch-grafana-dashboards
                    image: busybox:stable
                    command:
                        - sh
                        - -c
                        - |
                            set -e
                            # IDs und Revisions definieren
                            # Beispiel: Go Dashboard
                            wget -qO - https://grafana.com/api/dashboards/13240/revisions/2/download  \
                              | sed 's/"${DS_PROMETHEUS}"/"prometheus"/g' \
                              > /dashboards/promhttp-go-stats.json
                    volumeMounts:
                        -   name: grafana-dashboards
                            mountPath: /dashboards
            containers:
                -   name: grafana
                    image: grafana/grafana:12.3
                    ports:
                        -   containerPort: 3000
                            name: web
                    env:
                        -   name: GF_SECURITY_ADMIN_USER
                            valueFrom:
                                secretKeyRef:
                                    name: {{ include "SonicWeb.fullname" . }}-grafana-admin-secret
                                    key: admin-user
                        -   name: GF_SECURITY_ADMIN_PASSWORD
                            valueFrom:
                                secretKeyRef:
                                    name: {{ include "SonicWeb.fullname" . }}-grafana-admin-secret
                                    key: admin-password
                    volumeMounts:
                        -   name: grafana-provisioning-datasources
                            mountPath: /etc/grafana/provisioning/datasources
                        -   name: grafana-provisioning-dashboards
                            mountPath: /etc/grafana/provisioning/dashboards
                        -   name: grafana-dashboards
                            mountPath: /var/lib/grafana/dashboards
            volumes:
                -   name: grafana-provisioning-datasources
                    configMap:
                        name: {{ include "SonicWeb.fullname" . }}-grafana-provisioning-datasources
                -   name: grafana-provisioning-dashboards
                    configMap:
                        name: {{ include "SonicWeb.fullname" . }}-grafana-provisioning-dashboards
                -   name: grafana-dashboards
                    emptyDir: { }
---
apiVersion: v1
kind: Secret
metadata:
    name: {{ include "SonicWeb.fullname" . }}-grafana-admin-secret
type: Opaque
stringData:
    admin-user: {{ .Values.monitoring.grafana.adminUser     | quote }}
    admin-password: {{ .Values.monitoring.grafana.adminPassword | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: {{ include "SonicWeb.fullname" . }}-grafana-provisioning-datasources
data:
    datasources.yml: |
        apiVersion: 1
        datasources:
            -   name: Prometheus
                type: prometheus
                uid: prometheus
                access: proxy
                url: http://{{ include "SonicWeb.fullname" . }}-prometheus:9090
                isDefault: true
                jsonData:
                    timeInterval: 15s
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: {{ include "SonicWeb.fullname" . }}-grafana-provisioning-dashboards
data:
    dashboards.yml: |
        apiVersion: 1
        providers:
            -   name: 'default'
                orgId: 1
                folder: ''
                type: file
                disableDeletion: false
                allowUiUpdates: true
                updateIntervalSeconds: 30
                options:
                    path: /var/lib/grafana/dashboards
{{ end }}