{{- /*
SPDX-FileCopyrightText: 2025 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
    name: {{ include "blah.serviceAccountName" . }}
    labels:
        {{- include "blah.labels" . | nindent 8 }}
    {{- with .Values.serviceAccount.annotations }}
    annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
{{- end }}
