apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "monitoring.fullname" . }}-datasources
  labels:
    {{- include "monitoring.labels" . | nindent 4 }}
    # This label tells the Grafana sidecar to load this ConfigMap
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        url: http://{{ .Values.metrics.fullnameOverride }}-server:8428
        access: proxy
        isDefault: true
      - name: VictoriaLogs
        type: victoriametrics-logs-datasource
        url: http://{{ .Values.logs.fullnameOverride }}-server:9428
        access: proxy
      - name: VictoriaTraces
        type: jaeger
        url: http://{{ .Values.traces.fullnameOverride }}-server:10428
        access: proxy