{{- /*
SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

apiVersion: v1
kind:       ConfigMap
metadata:
    name: {{ include "monitoring.fullname" . }}-datasources
    labels:
    {{- include "monitoring.labels" . | nindent 4 }}
        # This label tells the Grafana sidecar to load this ConfigMap
        grafana_datasource: "1"
data:
    datasources.yaml: |
        apiVersion: 1
        datasources:
            -   name:      VictoriaMetrics
                uid:       victoriametrics
                type:      prometheus
                url:       http://{{ include "monitoring.fullname" . }}-metrics-server:8428
                access:    proxy
                isDefault: true
            -   name:   VictoriaLogs
                uid:    victorialogs
                type:   victoriametrics-logs-datasource
                url:    http://{{ include "monitoring.fullname" . }}-logs-server:9428
                access: proxy
            -   name:   VictoriaTraces
                uid:    victoriatraces
                type:   jaeger
                url:    http://{{ include "monitoring.fullname" . }}-traces-server:10428/select/jaeger
                access: proxy
