{{- /*
SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
SPDX-License-Identifier: MPL-2.0
*/ -}}

# Alloy: Accessible only from pods within the same namespace
apiVersion: networking.k8s.io/v1
kind:       NetworkPolicy
metadata:
    name: {{ include "monitoring.fullname" . }}-alloy-ingress
spec:
    podSelector:
        matchLabels:
            app.kubernetes.io/name: alloy
    policyTypes:
        - Ingress
    ingress:
        -   from:
                -   podSelector: { } # Allows all pods in the same namespace (e.g., SonicWeb)

---
# Victoria Instances: Access restricted to Alloy (Write) and Grafana (Read)
apiVersion: networking.k8s.io/v1
kind:       NetworkPolicy
metadata:
    name: {{ include "monitoring.fullname" . }}-victoria-access
spec:
    podSelector:
        matchExpressions:
            -   key:      app.kubernetes.io/name
                operator: In
                values:
                    - metrics
                    - logs
                    - vt-single
    policyTypes:
        - Ingress
    ingress:
        -   from:
                -   podSelector:
                        matchLabels:
                            app.kubernetes.io/name: alloy
                -   podSelector:
                        matchLabels:
                            app.kubernetes.io/name: grafana
---
# Grafana: Allow access via Ingress
apiVersion: networking.k8s.io/v1
kind:       NetworkPolicy
metadata:
    name: {{ include "monitoring.fullname" . }}-grafana-ingress
spec:
    podSelector:
        matchLabels:
            app.kubernetes.io/name: grafana
    policyTypes:
        - Ingress
    ingress:
        -   from:
                -   ipBlock:
                        cidr: 0.0.0.0/0
            ports:
                -   protocol: TCP
                    port:     3000