# SPDX-FileCopyrightText: 2026 The SonicWeb contributors.
# SPDX-License-Identifier: MPL-2.0

# Alloy: Accessible only from pods within the same namespace
apiVersion: networking.k8s.io/v1
kind:       NetworkPolicy
metadata:
    name: {{ include "monitoring.fullname" . }}-alloy-ingress
spec:
    podSelector:
        matchLabels:
            app.kubernetes.io/instance: {{ .Values.alloy.fullnameOverride }}
    policyTypes:
        - Ingress
    ingress:
        -   from:
                -   podSelector: { } # Allows access from all pods in the same namespace

---
# Victoria Instances: Access restricted to Alloy (Write) and Grafana (Read)
apiVersion: networking.k8s.io/v1
kind:       NetworkPolicy
metadata:
    name: {{ include "monitoring.fullname" . }}-victoria-access
spec:
    podSelector:
        matchExpressions:
            -   key:      app.kubernetes.io/instance
                operator: In
                values:
                    - {{ .Values.metrics.fullnameOverride }}
                    - {{ .Values.logs.fullnameOverride }}
                    - {{ .Values.traces.fullnameOverride }}
    policyTypes:
        - Ingress
    ingress:
        -   from:
                -   podSelector:
                        matchLabels:
                            app.kubernetes.io/instance: {{ .Values.alloy.fullnameOverride }}
                -   podSelector:
                        matchLabels:
                            app.kubernetes.io/instance: {{ .Values.grafana.fullnameOverride }}

---
# Grafana: Allow access via Ingress (from outside the namespace)
apiVersion: networking.k8s.io/v1
kind:       NetworkPolicy
metadata:
    name: {{ include "monitoring.fullname" . }}-grafana-ingress
spec:
    podSelector:
        matchLabels:
            app.kubernetes.io/instance: {{ .Values.grafana.fullnameOverride }}
    policyTypes:
        - Ingress
    ingress:
        -   from:
                # Allows access from Ingress Controllers (often in a different namespace)
                # or externally via LoadBalancer
                -   ipBlock:
                        cidr: 0.0.0.0/0
            ports:
                -   protocol: TCP
                    port:     3000