# SPDX-FileCopyrightText: 2025 The SonicWeb contributors.
# SPDX-License-Identifier: MPL-2.0

name: Security

on:
    push:
        branches:
          - master
    pull_request:
        branches:
          - master

# Declare default permissions as read-only.
permissions: read-all

jobs:
    GolangCI:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
            with:
                egress-policy: audit

          - name: Checkout
            uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            with:
                fetch-depth: 1

          - name: Run golangci-lint
            uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
            with:
                version: latest
                args: --timeout=5m --output.sarif.path=golangci-lint-results.sarif --output.text.path=stdout

          - name: Upload golangci-lint results to GitHub Security tab
            uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
            with:
                sarif_file: golangci-lint-results.sarif

    TrivyCode:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
            with:
                egress-policy: audit

          - name: Checkout code
            uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

          - name: Run Trivy vulnerability scanner in repo mode
            uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
            with:
                scan-type: 'fs'
                ignore-unfixed: true
                format: 'sarif'
                output: 'trivy-results.sarif'
                severity: 'CRITICAL'

          - name: Upload Trivy scan results to GitHub Security tab
            uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
            with:
                sarif_file: 'trivy-results.sarif'

    VulnerabilityCheck:
        strategy:
            matrix:
                go-version:
                  - "stable"
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
            with:
                egress-policy: audit

          - name: Checkout
            uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            with:
                fetch-depth: 1

          - name: Vulnerability Check
            uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
            with:
                go-version-input: ${{matrix.go-version}}
                output-format: sarif
                output-file: govulncheck-results.sarif

          - name: Print Sarif
            id: printSarif
            run:  |
                cat govulncheck-results.sarif
                if grep results govulncheck-results.sarif
                then
                    echo "hasResults=true" >> $GITHUB_OUTPUT
                else
                    echo "hasResults=false" >> $GITHUB_OUTPUT
                fi

          - name: Upload govulncheck results to Security tab
            if: ${{ steps.printSarif.outputs.hasResults == 'true' }}
            uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
            with:
                sarif_file: govulncheck-results.sarif
